in_data/
out_data/
temp/
delmarva/
bradford/

# === Python ===
*.pyc
__pycache__/
.env
*.env
*.log
*.sqlite3
*.pkl
*.h5

# === Conda ===
.env/
.conda/
conda-meta/
*.conda
*.lock

# Jupyter notebooks
.ipynb_checkpoints/

# === VS Code ===
.vscode/
.history/

# === QGIS ===
*.qgz
*.qgs~
.qgd
.qgd~
.qgz~

# === Geospatial data ===
data/
*.tif
*.tiff
*.img
*.vrt
*.aux.xml
*.ovr
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.gpkg
*.geojson
*.kml
*.kmz

# === Misc ===
.DS_Store
*.bak
*.zip
*.tar
*.gz

# === R ===
.Rproj.user
.Rhistory
.RData
*.Rproj
.Rdata
.httr-oauth
.Rapp.history
